* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 65px;
  color: #ffffff;
}

.buttonOrder {
  width: 134px;
  height: 48px;
  left: 93px;
  top: 625px;
  background: #f9c06a;
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: 24px;
  border: none;
  font-weight: 700;
  font-size: 17px;
}

h1 {
  font-size: 35px;
}

nav a {
  margin-left: 40px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.containerCoffe {
  background-image: url("/assets/img/2bf2b97f0a7728f3ba28e3c6592145766475c92c.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.containerCoffe div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 60px;
  font-size: 20px;
}

.containerCoffe div p:nth-child(2) {
  font-size: 220px;
  margin: 10px 0;
}

.containerCoffe div p:nth-child(3) {
  width: 70%;
}

.containerCoffe button {
  margin-top: 30px;
  width: 134px;
  height: 48px;
  left: 93px;
  top: 625px;
  background: #f9c06a;
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: 24px;
  border: none;
  font-weight: 700;
  font-size: 17px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDicover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 140px;
  height: 700px;
  position: relative;
}

.containerDicover img {
  width: 40%;
  height: auto;
}

.containerDicover div h2 {
  font-size: 54px;
  color: #603809;
  margin-bottom: 20px;
}

.containerDicover div {
  font-size: 20px;
  color: #707070;
  height: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 2px;
  height: auto;
  margin-right: 40px;
}

.containerDicover p {
  margin-bottom: 20px;
}

.imgCofferPosition {
  position: absolute;
  height: auto;
  transform: rotateX(-180deg);
  left: -150px;
  bottom: 10px;
  display: flex;
}
