@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pangolin&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pangolin&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pangolin&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 90px;
  color: #ffffff;
}

.buttonOrder {
  width: 134px;
  height: 48px;
  left: 93px;
  top: 625px;
  background: #f9c06a;
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: 24px;
  border: none;
  font-weight: 700;
  font-size: 17px;
  font-family: "Playfair Display";
}

header .buttonOrder {
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 35px;
  font-family: "Clicker Script", sans-serif;
  font-weight: 100;
}

nav a {
  margin-left: 45px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Playfair Display";
}

.containerCoffe {
  background-image: linear-gradient(
      89.82deg,
      #1e1e1e -6.88%,
      rgba(0, 0, 0, 0) 87.45%
    ),
    url("/assets/img/2bf2b97f0a7728f3ba28e3c6592145766475c92c.jpg");
  background-size: cover;
  background-position: center;
  height: 768px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Playfair Display";
}

.containerCoffe div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 90px;
  margin-top: 100px;
  font-size: 20px;
  width: 40%;
}

.containerCoffe div p:nth-child(2) {
  font-size: 220px;
  font-family: "Clicker Script", sans-serif;
}

.containerCoffe button {
  margin-top: 30px;
  width: 134px;
  height: 48px;
  left: 93px;
  top: 625px;
  background: #f9c06a;
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: 24px;
  border: none;
  font-weight: 700;
  font-size: 17px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDicover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 60px;
  width: 100%;
  height: 700px;
  position: relative;
  font-family: "Playfair Display";
}

.containerDicover img {
  width: 40%;
  max-width: 500px;
  height: auto;
}

.title {
  font-size: 54px;
  font-weight: 700;
  color: #603809;
  margin-bottom: 20px;
}

.containerDicover div {
  font-size: 20px;
  color: #707070;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 2px;
  margin-right: 40px;
  line-height: 34px;
}

.containerDicover p {
  margin: 20px 0 30px 0;
}

.imgCofferPosition {
  position: absolute;
  height: auto;
  transform: rotateX(-180deg);
  left: -135px;
  bottom: -40px;
  display: flex;
}

.containerCards {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

.containerCards p {
  font-size: 20px;
  font-family: "Playfair Display";
  color: #707070;
  margin-bottom: 30px;
}
.dashboardCards {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 0 20px;
}

.card {
  background-color: #fff9f1;
  border: solid 1px #fbe1be;
  max-width: 280px;
  height: 366px;
}

.card img {
  width: 100%;
  max-width: 280px;
  height: 222px;
  object-fit: cover;
}

.cardAtributes p:nth-child(1) {
  font-weight: bold;
  color: #603809;
  font-size: 22px;
}
.cardAtributes p:nth-child(2) {
  color: #1e1e1e;
  font-size: 16px;
}

.cardAtributes p:nth-child(3) {
  font-weight: bold;
  color: #603809;
}

.cardAtributes {
  position: relative;
}

.cardAtributes p {
  margin: 8px 0 0;
}

.cardAtributes .buttonOrder {
  position: absolute;
  top: 105px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}
.containerTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1190px;
  margin-bottom: 50px;
  position: relative;
}

.containerTable > div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  max-width: 710px;
}

.containerTable div:nth-child(2) {
  border: 1px solid #aa855865;
  border-radius: 10px;
}

.containerTable button {
  padding: 10px 30px;
  color: #aa8558;
  border: 2px solid #f9c06a;
  filter: drop-shadow(0px 6px 12px rgba(249, 192, 106, 0.22));
  border-radius: 24px;
  font-size: 15px;
  font-family: "Playfair Display";
  margin: 5px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  font-size: 18px;
  border-spacing: 0;
  width: 100%;
}

thead {
  top: 0;
  z-index: 1;
}

thead tr {
  width: 100%;
  background-color: #ffeed8;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: "Playfair Display";
  color: #603809;
}

thead th {
  padding: 15px 0 0 30px;
  text-align: left;
  font-weight: bold;
  width: 24%;
}

thead tr:first-child {
  border-top-left-radius: 10px;
}
thead tr:last-child {
  border-top-right-radius: 10px;
}

tbody {
  height: 580px;
  overflow-y: auto;
  scrollbar-width: none;
  display: block;
  font-family: "Roboto";
  font-weight: 400;
}

tbody td {
  padding: 15px 0;
  text-align: left;
  color: #968162;
}

tbody tr {
  display: flex;
  justify-content: space-between;
}

tbody td {
  width: 24%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 22px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

.coffeDashboard {
  background: linear-gradient(
    270.07deg,
    #603809 38%,
    #4e2e07 57%,
    #251503 100%
  );
  width: 100%;
  height: 574px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Playfair Display";
  margin-bottom: 100px;
}

.coffeDashboard div:nth-child(1) {
  color: #ffffff;
  width: 575px;
  height: 304px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 7%;
}

.coffeDashboard p:first-of-type {
  font-size: 54px;
  font-weight: bold;
}

.coffeDashboard p:last-of-type {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #ffffffaf;
}

.coffeDashboard div:nth-child(2) {
  width: 300px;
  margin-right: 11%;
  position: relative;
}
.coffeDashboard div:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 30px;
  border-radius: 60%;
  left: 50%;
  transform: translate(-50%);
  bottom: -20px;
  background: rgba(0, 0, 0, 0.342);
  filter: blur(12.15px);
}
.coffeDashboard img {
  width: 100%;
}

.containrFeendback {
  font-family: "Playfair Display";
  color: #707070;
  margin-bottom: 100px;
  position: relative;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 740px;
}

.containrFeendback > p {
  margin-bottom: 40px;
}

.containrFeendback #carrosel {
  width: 990px;
  height: 524px;
  background: #fff9f1;
  border: 1px solid rgba(249, 192, 106, 0.42);
  margin: 0 auto;
}
.imgArrawLeft {
  width: 22px;
}
.imgArrawRight {
  width: 24px;
}

.painel {
  height: 580px !important;
  padding: 0 110px 0;
  width: 990px !important ;
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-bottom: 10px;
}

.painel > p {
  font-size: 18px;
  margin-bottom: 20px;
  height: 185px;
  display: flex;
  align-items: end;
  line-height: 36px;
  font-weight: 600;
}

.painelText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-bottom: 50px; */
}
.marks {
  font-size: 220px;
  color: #603809;
  position: absolute;
  top: 120px;
  left: 230px;
}

.liquidCoffee {
  position: absolute;
  width: 30%;
  min-width: 300px;
}

.left {
  bottom: -15px;
  left: 0;
}

.right {
  right: 0;
  top: 70px;
  transform: rotate(180deg);
}

.painelText p:first-child {
  color: #603809;
  font-size: 32px;
  font-weight: bold;
}

.painelText p:last-child {
  font-size: 20px;
}

.containerSubscribe {
  width: 100%;
  height: 374px;
  background-image: linear-gradient(#623909cc),
    url("/assets/img/d82c23a4c48f5798630e23cbbe9800939428018f.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Playfair Display";
  padding-bottom: 80px;
}
.containerSubscribe > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textSubscribe {
  font-size: 54px;
  color: #ffffff;
  font-weight: bold;
}

.containerSubscribe div > p:nth-child(2) {
  margin-bottom: 30px;
  color: #ffffffcc;
  font-size: 20px;
}

.containerSubscribe > img {
  width: 50%;
  max-width: 526px;
}

.painelForm {
  display: flex;
  width: 655px;
  height: 66px;
  position: relative;
}

.iconLoading {
  display: none;
  width: 50px;
  height: 50px;
  border: 6px solid #ffffff; /* cor de fundo */
  border-top: 6px solid #4e2c04; /* cor do efeito */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  animation: girar 2s linear infinite;
  position: absolute;
  right: 50px;
  top: 10px;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#email {
  width: 100%;
  padding-left: 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: "Playfair Display";
  font-size: 20px;
  outline: none;
}

.inpuntError::placeholder {
  color: #ff0000;
}

.containerSubscribe button {
  width: 179px;
  border: none;
  color: #603809;
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: -0 4px 4px 0px;
  border: none;
  font-weight: bold;
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
}

.textApproved {
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: -30px;
  right: 0;
  font-family: sans-serif;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 492px;
  background-image: url("/assets/img/fotter_image.svg");
  background-size: cover;
  background-color: #4e2c04;
  background-blend-mode: overlay;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
  color: rgba(255, 255, 255, 0.788);
}

footer > div:nth-child(1) {
  height: 200px;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

footer > div:nth-child(1) div {
  display: flex;
  gap: 25px;
}

footer > div:nth-child(1) img {
  width: 24px;
}
footer > div:nth-child(1) p:nth-child(1) {
  font-family: "Clicker Script", sans-serif;
  color: #ffffff;
  font-size: 54px;
}
footer > div:nth-child(1) p:nth-child(2) {
  font-size: 14px;
  line-height: 22px;
}

footer > div:nth-child(2) {
  display: flex;
  gap: 30px;
}

footer > div:nth-child(2) div {
  display: flex;
  flex-direction: column;
}
.column > p {
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 15px;
}

.column {
  width: 100%;
}
.column div {
  display: flex;
  justify-content: end;
  gap: 20px;
  height: 100%;
  font-size: 18px;
  color: #ffffffb4;
}

#carrosel {
  width: 800px;
}

.slick-prev,
.slick-next {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 18px;
}

.loading {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%);
}

.loading img {
  position: absolute;
  top: -100px;
  width: 70px;
  animation: alternates 1.9s infinite linear;
}

.box {
  width: 20px;
  height: 20px;
  background-color: #aa8558;
  border-radius: 50%;
  opacity: 0;
  animation: blink 1.2s infinite;
}

.box:nth-child(1) {
  animation-delay: 0s;
}
.box:nth-child(2) {
  animation-delay: 0.2s;
}
.box:nth-child(3) {
  animation-delay: 0.4s;
}
.box:nth-child(4) {
  animation-delay: 0.6s;
}
.box:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes alternates {
  0% {
    top: -100px;
  }
  50% {
    top: -90px;
  }
  100% {
    top: -100px;
  }
}
