@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pangolin&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pangolin&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 90px;
  color: #ffffff;
}

.buttonOrder {
  width: 134px;
  height: 48px;
  left: 93px;
  top: 625px;
  background: #f9c06a;
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: 24px;
  border: none;
  font-weight: 700;
  font-size: 17px;
  font-family: "Playfair Display";
}

header .buttonOrder {
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 35px;
  font-family: "Clicker Script", sans-serif;
  font-weight: 100;
}

nav a {
  margin-left: 45px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Playfair Display";
}

.containerCoffe {
  background-image: url("/assets/img/2bf2b97f0a7728f3ba28e3c6592145766475c92c.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Playfair Display";
  box-shadow: inset 0 0 200px black;
}

.containerCoffe div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 90px;
  margin-top: 100px;
  font-size: 20px;
  width: 40%;
}

.containerCoffe div p:nth-child(2) {
  font-size: 220px;
  font-family: "Clicker Script", sans-serif;
}

.containerCoffe button {
  margin-top: 30px;
  width: 134px;
  height: 48px;
  left: 93px;
  top: 625px;
  background: #f9c06a;
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: 24px;
  border: none;
  font-weight: 700;
  font-size: 17px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDicover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 60px;
  width: 100%;
  height: 700px;
  position: relative;
  font-family: "Playfair Display";
}

.containerDicover img {
  width: 40%;
  height: auto;
}

.title {
  font-size: 54px;
  font-weight: 700;
  color: #603809;
  margin-bottom: 20px;
}

.containerDicover div {
  font-size: 20px;
  color: #707070;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 2px;
  margin-right: 40px;
  line-height: 34px;
}

.containerDicover p {
  margin: 20px 0 30px 0;
}

.imgCofferPosition {
  position: absolute;
  height: auto;
  transform: rotateX(-180deg);
  left: -135px;
  bottom: -40px;
  display: flex;
}

.containerCards {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

.containerCards p {
  font-size: 20px;
  font-family: "Playfair Display";
  color: #707070;
  margin-bottom: 30px;
}
.dashboardCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.dashboardCards .card img {
  width: 100%;
}
.card {
  background-color: #fff9f1;
  border: solid 1px #fbe1be;
  width: 280px;
  height: 364px;
}

.cardAtributes p:nth-child(1) {
  font-weight: bold;
  color: #603809;
  font-size: 22px;
}
.cardAtributes p:nth-child(2) {
  color: #1e1e1e;
  font-size: 16px;
}

.cardAtributes p:nth-child(3) {
  font-weight: bold;
  color: #603809;
}

.cardAtributes {
  position: relative;
  height: 143px;
}

.cardAtributes p {
  margin: 8px 0 0;
}

.cardAtributes .buttonOrder {
  position: absolute;
  top: 142px;
  left: 50%;
  transform: translate(-50%);
}
.containerTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1190px;
  margin-bottom: 50px;
}

.containerTable div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  max-width: 710px;
}

.containerTable div:nth-child(2) {
  border: 1px solid #aa855865;
  border-radius: 10px;
}

.containerTable button {
  padding: 10px 30px;
  color: #aa8558;
  border: 2px solid #f9c06a;
  filter: drop-shadow(0px 6px 12px rgba(249, 192, 106, 0.22));
  border-radius: 24px;
  font-size: 15px;
  font-family: "Playfair Display";
  margin: 5px;
}

table {
  border-collapse: collapse;
  font-size: 18px;
  border-spacing: 0;
  width: 100%;
}

thead {
  top: 0;
  z-index: 1;
}

thead tr {
  width: 100%;
  background-color: #ffeed8;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: "Playfair Display";
  color: #603809;
}

thead th {
  padding: 15px 0 0 30px;
  text-align: left;
  font-weight: bold;
  width: 24%;
}

thead tr:first-child {
  border-top-left-radius: 10px;
}
thead tr:last-child {
  border-top-right-radius: 10px;
}

tbody {
  max-height: 580px;
  overflow-y: auto;
  scrollbar-width: none;
  display: block;
}

tbody td {
  padding: 15px 0;
  text-align: left;
  color: #968162;
  font-family: sans-serif;
}

tbody tr {
  display: flex;
  justify-content: space-between;
}

tbody td {
  width: 24%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 22px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

.coffeDashboard {
  background: linear-gradient(
    270.07deg,
    #603809 38%,
    #4e2e07 57%,
    #251503 100%
  );
  width: 100%;
  height: 574px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Playfair Display";
  margin-bottom: 100px;
}

.coffeDashboard div{
  color: #ffffff;
  width: 575px;
  height: 304px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 7%;
  
}

.coffeDashboard p:first-of-type{
  font-size: 54px;
  font-weight: bold;
}

.coffeDashboard p:last-of-type{
font-size: 20px;
font-weight: 100;
letter-spacing: 2px;
}

.coffeDashboard img{
  width: 300px;
  margin-right: 11%;

}





